#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

 :root {
  --main-orange: #f56c00;
  --text-glow: rgba(255, 255, 255, 0.5);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

/* Fondo con imagen de skyline */
.background {
  background-image: url('/client/public/skyline-night.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

/* Contenedor principal del formulario */
.App {
  background-color: rgba(250, 130, 176, 0.9); /* rosa semitransparente */
  border: 3px solid var(--main-orange);
  border-radius: 20px;
  padding: 2rem;
  width: 50em;
  max-width: 90%;
  margin: 5em auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Título */
.title {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px var(--text-glow);
  margin-bottom: 1em;
}


/* Etiquetas */
.label {
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin: 0.5em 0 0.2em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Inputs */
.input {
  width: 90%;
  padding: 0.5em 1em;
  font-size: 1.1em;
  color: #333;
  border: 2px solid var(--main-orange);
  border-radius: 8px;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
  background-color: #fff;
}


/* Botón */
.button {
  background-color: var(--main-orange);
  border: none;
  color: white;
  padding: 0.7em 1.5em;
  font-size: 2em;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1em;
  text-shadow: 0 0 10px var(--text-glow);
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.button:hover {
  background-color: #d95a00;
}

/* Predicción */
p {
  color: #fff;
  font-size: 1.4em;
  margin-top: 2em;
  text-shadow: 0 0 5px var(--text-glow);
}
